<h1>Welcome to Bīk-n-Brü!</h1>

<%= link_to "Continue with Strava", "https://www.strava.com/oauth/authorize?client_id=#{ENV['strava_client_id']}&redirect_uri=http://localhost:3000/auth/strava/callback&response_type=code" %><br>
<%= link_to "Don't have Strava? Click here!", 'https://www.strava.com/register/free' %><br><br>

<div id="leaderboard">
  <caption>Leaderboard</caption>
  <table>
    <tr>
      <th>Rank</th>
      <th>Username</th>
      <th>Miles Biked</th>
      <th>Beers Earned</th>
      <th>CO2 Saved (lbs)</th>
    </tr>
    <% @leaders.each_with_index do |leader, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= leader.username %></td>
      <td><%= leader.miles %></td>
      <td><%= leader.beers %></td>
      <td><%= leader.co2_saved %></td>
    </tr>
    <% end %>
  </table>
</div>