<h1><%= "#{@user.username}'s Dashboard" %></h1>

<%= render partial: "shared/navbar" %><br><br>
<% if  @user.city.nil? || @user.state.nil? || @user.city.empty? || @user.state.empty? %>
  <div id="address_form">
    <%= form_with url: '/update', method: :patch, local: true do |f| %>
      <%= f.label :city, 'City' %>
      <%= f.text_field :city %><br>
      <%= f.label :state, 'State' %>
      <%= f.text_field :state %><br>
      <%= f.submit 'Submit' %>
    <% end %>
  </div>
<% else %>
  <div id="breweries">
    <h3>Local Breweries</h3>
    <% @user.breweries.each do |brewery| %>
      <%= link_to brewery.name, brewery.website %><br>
    <% end %><br>
    <%= link_to 'View All Local Breweries', '/breweries' %>
  </div>

<% end %>

<div id="badges" style="width: 350px;">
  <h3>Badges</h3>
  <% if @user.badges.any? %>
    <% @user.badges.each_with_index do |badge, i| %>
        <%= image_tag("badges/#{badge}", size:"100x100", alt: badge) %>
    <% end %>
  <% end %>
</div>

<div id="recent_activities" style="position: absolute; top: 300px; left: 350px; width: 500px; background-color: azure;">
  <h3>Recent Activities</h3>
  <% if @user.activities.any? %>
    <% @user.activities.each do |activity| %>
      <%= link_to activity.brewery_name, "/#{@user.id}}/activities/#{activity.id}" %><br>
    <% end %>
  <% end %>
</div>