<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href=<%= dashboard_path %>>Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</div>

<%if @user.state.empty? == false%>
  <div id="the_gas_price">
    <p>The current price of gas per gallon is $<%=@price%></p>
  </div>
<%end%> 

<div class="container">
<center>
<h1><%= "#{@user.username}'s Dashboard" %></h1> <br><br>
</center>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <% if  @user.city.nil? || @user.state.nil? || @user.city.empty? || @user.state.empty? %>
        <div id="address_form">
          <%= form_with url: '/update', method: :patch, local: true do |f| %>
            <%= f.label :city, 'City' %>
            <%= f.text_field :city %><br>
            <%= f.label :state, 'State' %>
            <%= f.text_field :state %><br>
            <%= f.submit 'Submit' %>
          <% end %>
        </div>
      <% else %>
        <div id="breweries" style="text-align:left">
          <h2>Local Breweries</h2>
          <% @user.breweries.each do |brewery| %>
            <%= link_to brewery.name, brewery.website %><br>
          <% end %><br>
          <%= link_to 'View All Local Breweries', '/breweries' %>
        </div>
      <% end %>
      <br><br>
    </div>
    <div class="col">
      <div id="new_activity" style="text-align:left">
        <h2>Did you make it to a brewery?</h2>
        <p>Make sure your activity has updated to Strava, then fill out the form below:</p>
        <%= form_with url: '/activities', method: :post, local: true do |f| %>
          <%= f.label :brewery_name, "What brewery did you get to?" %><br>
          <%= f.select :brewery_name, @user.breweries.map {|brewery| brewery.name } %><br><br>
          <%= f.label :drink_type, "What kind of beer would you like?" %><br>
          <%= f.select :drink_type, ['IPA', 'Pilsner', "Light Beer"] %><br><br>
          <%= f.hidden_field :user_id, value: @user.id %>
          <%= f.submit "Tell me how many beers I've earned!" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="recent_activities" style="text-align:left">
        <h2>Your Recent Activities</h2>
        <% if @user.activities.any? %>
          <% @user.activities.each do |activity| %>
            <%= link_to activity.brewery_name, activity_path(activity.id) %><br>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div id="badges" style="text-align:left">
        <h2>Earned Badges</h2>
        <% if @user.badges.any? %>
          <% @user.badges.each_with_index do |badge, i| %>
              <%= image_tag("badges/#{badge.title}.jpg", size:"100x100", alt: badge) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>