<h1><div align="center">Breweries Around You</div></h1>

<div id="nav_bar">
  <%= render partial: "shared/navbar.html.erb" %>
</div>
<br>
<h1 style="text-align:center">Breweries Around You</h1>
<br>
<div class="container">
<% if @user.city == nil or @user.state == nil or @breweries.count == 0 %>
  <% if @user.city == nil or @user.state == nil %>
    <div>We do not have a city/state saved for you, please update</div>
  <% else @breweries.count == 0 %>
    <div>We were unable to find any breweries for you, please add a new city/state</div>
  <% end%>
    <div id="update_form">   
        <%= form_with url: '/update', method: :patch, local: true do |form| %>
          <%= form.text_field :city %>
          <%= form.label "City" %>
          <%= form.select :state, options_for_select(us_states) %>        
          <%= form.label "State" %>
          <%= form.submit "Submit"%>
        <% end%>
    </div>
<% else %>
  <% @breweries.each do |brewery| %>
    <div id="brewery_<%= brewery.id %>">
      <% if brewery.website == nil %>
        <li><%= brewery.name %><br>
      <% else%>
        <li><%= link_to brewery.name, brewery.website, target: "_blank" %><br>
      <% end %>
        Brewery Type: <%= brewery.type %><br>
        <%= brewery.street_address %>, <%= brewery.city %>, <%= brewery.state %>, <%= brewery.zip_code %><br>
      <% if brewery.phone_number == nil %>
        <%= brewery.phone_number %><br>
      <% else %>
        <%= (brewery.format_number) %><br>
      <% end%>
      <br>
    </div>
  <% end%>
<% end%>

</div>